.places h1 {
    text-align: left;
    vertical-align: text-top;
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 65px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center center;
    justify-content: space-between;
    padding: 10px;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
}

.max_guest .guest_icon {
    background-image: url('../images/icon_group.png');
}

.number_rooms .rooms_icon {
    background-image: url('../images/icon_bed.png');
}

.number_bathrooms .bath_icon {
    background-image: url('../images/icon_bath.png');
}

.max_guest .guest_icon,
.number_rooms .rooms_icon,
.number_bathrooms .bath_icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (min-width: 800px)
{
.below {
     padding-left: 25%;  
}
}
